/**
 * Úprava boostrapu
 */
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
html, body {
    height: 100%;
}
@media (min-width: 992px){
    .fill {
        flex:1;
        height: 100%;
    }

}
table#dataTable{
    width: 100% !important;
}



/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
    height: 100%;
    z-index: 1000;
    padding: 50px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
