<h1>Hlavní strana</h1>
<h2>Zde nalaznete informace o tomto systému</h2>

    <ol class="text-left">
        <li>Pro více funkcí se musíte přihlásit</li>
        <li>Uživatel pro testování (s administratorskými právy) je připraven (prosím nemazat ho, pokud nemáte vytvořeného dalšího s admin právy):
            email: t@t.cz heslo: 123456789
        </li>
        <li>Druhý účet s editorskýmí právy: email: t2@t.cz heslo: 123456789</li>

    </ol>



