<!DOCTYPE html>
<html lang="cs">
<head>
    <base href="{$baseURL}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{$title}</title>


    <link rel="stylesheet" href="{$baseURL}css/bootstrap.min.css">
    <link rel="stylesheet" href="{$baseURL}css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="{$baseURL}css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="{$baseURL}css/custom.css?version=0.9">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

</head>

<body>

    <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 bg-dark">
            <nav class="nav navbar-dark navbar-expand-lg navbar">

                <!-- Button for toggling the visibility of the menu -->
                <button type="button" data-target="#collapseNavbar" data-toggle="collapse" class="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation menu container -->
                <div class="navbar-collapse collapse flex-column mt-md-0 mt-4 pt-md-0 pt-4" id="collapseNavbar">
                    <a href="index" class="nav-link navbar-brand active"><span class="fa fa-home"></span> Navigace</a>
                    <a href="users" class="nav-link">Uživatelé</a>
                    <a href="chyba-404" class="nav-link">Chyba</a>
                    <a href="" class="nav-link">Linnk</a>
                </div>

            </nav>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
            <main class="ml-3 mr-3 pt-3 pb-3">
            {include $block}
            </main>
        </div>
    </div>



<!-- SCRIPTS -->
<script src="{$baseURL}js/jquery-3.3.1.min.js"></script>
<script src="{$baseURL}js/bootstrap.min.js"></script>
<script src="{$baseURL}js/bootstrap.bundle.min.js"></script>

<!--[if lt IE 9]>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"><\/script>')</script>
<![endif]-->
<script src="{$baseURL}js/maskedinput.js"></script>
<script src="{$baseURL}js/jquery-confirm.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
{foreach $additionalyJs as $item}
    <script src="{$baseURL}js/{$item}"></script>
{/foreach}


</body>
</html>
